<section>
    <h2>Reviews</h2>
    <div class="comments">
        <div class="comment">
            <div class="author">
                <a href="#" class="author-image">
                    <div class="background-image">
                        <img src="./assets/img/author-09.jpg" alt="">
                    </div>
                </a>
                <div class="author-description">
                    <h3>Positive experience!</h3>
                    <div class="meta">
                        <span class="rating" data-rating="4"></span>
                        <span>02.05.2017</span>
                        <h5><a href="#">Jane Doe</a></h5>
                    </div>
                    <!--end meta-->
                    <p>
                        Nam pulvinar tortor nec lacinia efficitur. Integer erat tortor, ultricies
                        ut est vel, euismod imperdiet lacus. Aenean nec turpis condimentum, mollis
                        mauris id, scelerisque quam.
                    </p>
                </div>
                <!--end author-description-->
            </div>
            <!--end author-->
        </div>
        <!--end comment-->

        <div class="comment">
            <div class="author">
                <a href="#" class="author-image">
                    <div class="background-image">
                        <img src="./assets/img/author-05.jpg" alt="">
                    </div>
                </a>
                <div class="author-description">
                    <h3>Perfect seller. I am satisfied.</h3>
                    <div class="meta">
                        <span class="rating" data-rating="5"></span>
                        <span>02.05.2017</span>
                        <h5><a href="#">John Doe</a></h5>
                    </div>
                    <!--end meta-->
                    <p>
                        Integer erat tortor, ultricies ut est vel, euismod imperdiet lacus.
                        Aenean nec turpis condimentum, mollis mauris id, scelerisque quam.
                    </p>
                </div>
                <!--end author-description-->
            </div>
            <!--end author-->
        </div>
        <!--end comment-->

        <div class="comment">
            <div class="author">
                <a href="#" class="author-image">
                    <div class="background-image">
                        <img src="./assets/img/author-04.jpg" alt="">
                    </div>
                </a>
                <div class="author-description">
                    <h3>Quick dispatch and good communication</h3>
                    <div class="meta">
                        <span class="rating" data-rating="3"></span>
                        <span>02.05.2017</span>
                        <h5><a href="#">Susan Jefferson</a></h5>
                    </div>
                    <!--end meta-->
                    <p>
                        Cras luctus aliquet fringilla. In eu cursus nunc. Quisque dolor leo,
                        vehicula a sem ut, aliquam pretium tellus. Morbi ut mi eleifend,
                        sollicitudin nisl in, elementum nisi. Praesent sed libero euismod,
                        pellentesque risus sit amet, faucibus lorem. Pellentesque bibendum
                        libero sed tempor tristique.
                    </p>
                </div>
                <!--end author-description-->
            </div>
            <!--end author-->
        </div>
        <!--end comment-->
    </div>
    <!--end comment-->
    <div class="center">
        <a href="#" class="btn btn-primary btn-rounded btn-framed">Load More</a>
    </div>
</section>
