<div class="items masonry grid-xl-4-items grid-lg-3-items grid-md-2-items">
    <div class="item" *ngFor="let place of places">
        <!--end ribbon-->
        <div class="wrapper">
            <div class="image">
                <h3>
                    <a href="#" class="tag category">{{place.place_category.name}}</a>
                    <a href="./single-listing-1.html" class="title">{{place.name}}</a>
                    <span class="tag">Khuyến mãi</span>
                </h3>
                <a [routerLink]="['/place', place.id]" class="image-wrapper background-image">
                    <img src="../assets/img/image-01.jpg" alt="" />
                </a>
            </div>
            <!--end image-->
            <h4 class="location">
                <a href="#">{{place.address}}</a>
            </h4>
            <div class="price">
            <i class="fa fa-bookmark"></i> Lưu
            </div>
            <div class="meta">
                <figure>
                    <a href="#">
                        <i class="fa fa-comment"></i>{{place.total_comments}}
                    </a>
                </figure>
                <figure>
                    <a href="#">
                        <i class="fa fa-camera"></i>{{place.total_images}}
                    </a>
                </figure>
            </div>
            <!--end meta-->
            <div class="description">
                <p>{{place.descriptions}}</p>
            </div>
            <!--end description-->
            <a [routerLink]="['place', place.id]" class="detail text-caps underline">Xem</a>
        </div>
    </div>
    <!--end item-->

</div>
